* {
  color: white;
  margin: 0;
  padding: 0;
}

.main {
  width: 1365px;
  height: 770px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/city-bg.png");
}
.floater{

  float: left;
  width: 1365px;
}
.top {
  width: 200px;
  height: 45px;
  margin-left: 155px;
  margin-top: 50px;
  float: left;
}

.logo {
  height: 45px;
  width: 45px;
  float: left;
}

.logo-text {
  text-transform: uppercase;
  float: right;
}

.milan {
  margin-right: 50px;
  padding: 0;
  font-size: 27px;
}

.holidays {
  margin-right: 60px;
  padding: 0;
  font-size: 16px;
}
.contact{
  float: right;
  margin-top: 60px;
  margin-right: 150px;
}
.contact-text{
  font-size: 18px;
  text-align: right;
}

.pictures{
  width: 1064px;
  height: 541px;
margin-top: 40px;

margin-left: 155px;
}
.pictures-item{
  float: left;
  margin: 25px 22px;
  text-align: center;
}
.pictures-item-img{
  height: 200px;
  width: 307px;

}

.pictures-item-text{
  margin-top: 20px;
  font-size: 18px;
}
.shopping-bg{
  background-image: url("../img/shopping.png");
}

.sightseeing-bg{
  background-image: url("../img/sightseeing.png");
}
.food-bg{
  background-image: url("../img/food.png");
}
.bars-bg{
  background-image: url("../img/bars.png");
}
.art-bg{
  background-image: url("../img/art.png");
}
.walking-bg{
  background-image: url("../img/walking.png");
}


.footer{
  text-align: center;
  font-size: 12px;
  margin-top: 35px;
}
