body{
    font-family: Verdana;
    padding: 0;
    margin: 0;
    background-image: url("../img/background.png");
    background-size: cover;
}

.navbar{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/header-bg.png");
    width: 100%;
    height: 60px;
}
.navbar-separator{
    height: 20px;
    width: 1px;
    border-left: 1px solid #52504f;
}
.navbar-log{
    margin-right: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 25px;
    width: 380px;
}
.navbar-main-header{
    margin-top: 20px;
    margin-left: 80px;
}
.navbar-main-header>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1.0;
    transition: color;
    transition-duration: 0.5s;
}
.navbar-main-header>a:hover{
    color: #3cb878;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 125px;
    height: 20px;
}

.icon-calendar{
    width: 19px;
    height: 19px;
    background-image: url("../img/sprite.png");
    background-position: -2px -2px;
}
.icon-calendar:hover{
    background-position: -2px -25px;
}
.icon-forum{
    width: 28px;
    height: 28px;
    background-image: url("../img/sprite.png");
    background-position: -3px -44px;
}
.icon-forum:hover{
    background-position: -3px -68px;
}
.icon-journey{
    width: 23px;
    height: 23px;
    background-image: url("../img/sprite.png");
    background-position: -2px -95px;
}
.icon-journey:hover{
    background-position: -2px -119px;
}
.navbar-login{
    font-size: 14px;
    color: white;
}
.navbar-login>p>a{
color: #3cb878;
    text-decoration: underline;
}






.center-form{
    height: 600px;
    width: 445px;
    background-color: #ffffff;
    margin: 65px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.center-form-head{
    height: 25px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.green-square{

    height: 18px;
    width: 18px;
    background-color: #3cb878;
}

.form-header{
    color: #434343;
    font-size: 20px;
    margin-left: 40px;
}

.center-form-head>a{
    margin-left: 205px;
    font-size: 14px;
    color: #3cb878;

}

.center-form-social{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.social-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 160px;
    height: 45px;
    border-radius: 5px;
    margin: 4px;
    text-decoration: none;
}
.social-button-text{
    font-size: 16px;
    color: white;
}
.facebook{
    background-color: #264b96;
}
.icon-facebook{
    margin: auto 0 auto 20px;

    background-image: url("../img/facebook.png");
    width: 10px;
    height: 20px;
}
.social-icon-separator{
    height: 20px;
    width: 1px;
    border-left: 1px solid #224387;
    margin: auto 0 auto 15px;
}
.social-button-text{
    margin-left: 18px;
}
.google{
    background-color: #c3412c;
}
.icon-google{
    margin: auto 0 auto 20px;
    background-image: url("../img/google.png");
    width: 25px;
    height: 16px;
}
.google> .social-icon-separator{
    border-left: 1px solid #af3a28;
    margin: auto 0 auto 9px;
}
.center-form-separator{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
    width: 330px;
    margin-top: 33px;
}
.center-form-separator-line{
    width: 135px;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
    margin: 0 10px;
}

.center-form-separator>p{
    margin: 0 10px;
    font-size: 14px;
    color: #848484;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

input{

    width: 320px;
    height: 45px;
    box-sizing: border-box;
    padding: 18px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}
input:focus{
    box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}
.checkbox{
    margin: 20px 3px;
    width: 20px;
    height: 20px;
}
label{
    font-size: 14px;
}
label>span{
    color: #3cb878;

}
input[type="checkbox"]:checked{
    color: #3cb878;
}
input[type=submit] {
    background-color: #329a65;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}