*{

    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}
.background-color-light{
   background-color:  #f2f2f2;
}
.background-color-dark{
    background-color:  #e3e3e3;
}
.main{
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
}

table{
    border-collapse:collapse;
    border: 23px solid #3a4965;
    margin: 0 auto;
    width: 1140px;
    height: 680px;
    background-color: #fafafa;
    text-transform: uppercase;
    color: #484848;
}

td{
    text-align: center;
    border: 3px solid #e8e8e8;
}

.r1c1{
    font-size: 18px;
    row-span: 2;
    font-weight: bold;
}
.r1c1>span{
    font-size: 30px;
}
.r1c2{
    background-color: #89c331;
    color:white;
    font-size: 25px;
    font-weight: bold;
}

.r1c3{
    background-color: #f04a56;
    color:white;
    font-weight: bold;
    font-size: 25px;
}


.r1c4{
    background-color: #20807c;
    color:white;
    font-size: 25px;
    font-weight: bold;
}

.price{
    font-size: 60px;
    font-weight: bold;
}
.price::after{
    margin-top: 8px;
    position: absolute;
    content: ".99";
    font-size: 24px;
    font-weight: bold;
}
.btn-contact{
    background-color: #dddddd;
}
.btn-buy{
    background-color: #eeeeee;
}
button{
    text-transform: uppercase;
    font-size: 16px;
    color: #e8e8e8;
    width: 192px;
    height: 45px;
}
button:hover{
    font-size: 20px;
    color: yellow;
    background-color: blue;
    border-bottom: 0;
}
button:focus {
    outline:0;
}

.btn-contact-us{
    background-color: #484848;
    border-bottom: 5px solid #404040;
}


.btn-standard-buy{
    background-color: #89c331;
    border-bottom: 5px solid #79b027;
}
.btn-ultimate-buy{
    background-color: #f04a56;
    border-bottom: 5px solid #df3a46;
}
.btn-premium-buy{
    background-color: #20807c;
    border-bottom: 5px solid #16736f;
}


