

.main-header{
  font-size: 80px;
  color: #4bcaff;
  margin-top: 60px;

}
.container{
  width: 1280px;
  margin: 0 auto;
}

span{
  color: black;
}
.navigation-bar{
  list-style: none;
  display: inline-block;
  font-size: 24px;
  background-image: url("../images/nav-bar-background.png");
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.clicked{
    background-color: #222f3a;
    border: 1px solid #818181;
}
.navigation-bar-link{
  display: inline-block;
  padding: 20px;
}

.link-btn{
  text-decoration: none;
color: white;
}

.pictures{
  width: 100%;

}

.menu{
  padding: 0;
  border: 1px solid #35444f;
  width: 344px;
  display: inline-block;
  margin-top: 50px;
}

.menu-item{
  font-size: 30px;
  text-decoration: none;
  list-style: none;
  padding: 30px;

}

.menu-item-btn{
  text-decoration: none;
    color: #7a858d;
}

.menu-clicked-btn{
  background-image: url("../images/clicked-background.png");
}

.clicked-btn-link{
  margin-left: 40px;
  color: black;
}

.logo{
  display: inline-block;
  border: 1px solid #35444f;
  width: 885px;
  height: 529px;
  text-align: center;
  margin-top: 50px;
  margin-left: 43px;
}

.logo-img{
  margin: 27px 0;

}

.text{
  font-size: 18px;
  width: 815px;
  margin-left: 400px;
margin-top: 20px;
}
.text-item{
  margin: 30px;
}

.footer-navigation-bar{
  list-style: none;
  display: inline-block;
font-size: 28px;
  background-image: url("../images/footer-background.png");
  width: 100%;
  height: 70px;
  margin-top: 50px;
  padding: 0;
}
.foot-link-btn{
  text-decoration: none;
color: black;
}

.foot-clicked{
text-decoration:underline;
color: #3181a6;
}
.footer-navigation-bar-link{
  display: inline-block;
  padding: 15px;
}

.copyright{
    font-size: 24px;
    margin-left: 150px;
}
